@import "tailwindcss";
.input-dark {
  @apply bg-[#0f1115] border border-gray-700 text-gray-200 text-sm rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-transparent outline-none p-2.5 placeholder-gray-600 transition-all;
}